*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7ff;
    padding:40px;
}

/* Judul */
h2{
    text-align:center;
    color:#0d47a1;
    margin-bottom:25px;
    font-size:32px;
    font-weight:bold;
}

/* link */
a{
    text-decoration:none;
}

/* tombol tambah */
.btn{
    display:inline-block;
    background:#0d47a1;
    color:white;
    padding:10px 20px;
    border-radius:8px;
    font-weight:bold;
    margin-bottom:20px;
    transition:0.3s;
}

.btn:hover{
    background:#000;
    transform:scale(1.05);
}

/* tabel */
table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 8px 20px rgba(0,0,0,0.15);
}

/* header tabel */
th{
    background:#000;
    color:white;
    padding:15px;
    font-size:15px;
    letter-spacing:1px;
}

/* isi tabel */
td{
    padding:14px;
    text-align:center;
    color:#222;
    font-size:14px;
}

/* baris genap */
tr:nth-child(even){
    background:#eef3ff;
}

/* hover baris */
tr:hover{
    background:#d6e4ff;
    transition:0.2s;
}

/* tombol edit */
.btn-edit{
    background:#1976d2;
    color:white;
    padding:7px 14px;
    border-radius:6px;
    font-size:13px;
    font-weight:bold;
    transition:0.3s;
}

.btn-edit:hover{
    background:#000;
    transform:scale(1.05);
}

/* tombol hapus */
.btn-hapus{
    background:#000;
    color:white;
    padding:7px 14px;
    border-radius:6px;
    font-size:13px;
    font-weight:bold;
    transition:0.3s;
}

.btn-hapus:hover{
    background:#444;
    transform:scale(1.05);
}
.btn-bayar{
    display:inline-block;
    background:#28a745;
    color:white;
    padding:12px 25px;
    border-radius:8px;
    font-weight:bold;
    margin-top:20px;
}

.btn-bayar:hover{
    background:#1e7e34;
}